<!DOCTYPE html>
<html>
  <head>
    <title>Emarsys Design System Roadmap</title>
    {% include meta.html %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/public/app.css">
    <link rel="alternate" type="application/rss+xml" title="Emarsys Design System Roadmap" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <main>
      {{ content }}
    </main>
    <script src="{{ site.baseurl }}/public/app.js"></script>
  </body>
</html>
